@import url('/assets/css/keyword.css');
@import url('/assets/css/homepage.main.css');
@import url('/pages/app/video/video.main.css');
@import url('/pages/app/creator/creator.main.css');

:root {
      --neon-blue: #1F51FF;
      --gold: #FFD700;
      --golden-yellow: #FFC000;
      --hot-pink: #FF69B4;
      --light-pink: #FFB6C1;
      --dark-gray: #2e3138;
}

body, html {
      margin: 0;
      padding: 0;
      background-color: #24262b;
      color: white;
      font-family: 'Lexend', sans-serif;
}
a {
      text-decoration: none;
      color: #fff;
}
input, button {
      font-family: 'Lexend', sans-serif;
}
img {
      border-radius: 10px;
}

/* button */
.btn {
      color: white; 
      border-radius: 0.25rem; 
      text-align: center; 
      cursor: pointer; 
      transition: all 0.2s ease-in-out;
      border: none; padding: 9px;
}
.btn:hover {
      opacity: 0.8;
}
.primary-btn {
      background-color: #0437F2;
}
.danger-btn {
      background-color: #DC143C;
}
.light-btn {
      color: black;
      background-color: #f8f9fa;
      border: 1px solid #e2e6ea !important;
}
.light-btn:hover {
      background-color: #e2e6ea;
      filter: none !important;
}

/* hover image effect */
.hover-wrapper-zoom-img {
      overflow: hidden;
}
.hover-to-zoom-img, .hover-to-scale {
      transition: all .3s ease-in-out;
}
.hover-to-zoom-img:hover, .hover-to-scale:hover {
      transform: scale(1.1);
      transition: all .3s ease-in-out;
      cursor: pointer;
}

/* film-article */
.film-article-wrapper {
      border-radius: 10px;
      background-color: var(--dark-gray);
}
.film-article-wrapper:hover {
      background-color: #3a3d44;
      transition: .3s;
}
.film-infor-wrapper {
      text-align: center;
      padding: 5px;
}

/* tag-style */
.tag-style {
      flex-shrink: 0;
      background-color: var(--golden-yellow);
      padding: 4px 10px;
      border-radius: 5px;
      transition: background 0.8s, filter 0.8s;
      width: fit-content;
      color: black;
}
.tag-style:hover {
      cursor: pointer;
      background-color: var(--bright-yellow);
}

.star { color: var(--gold); }
.star:hover { color: var(--gold) !important; }

.tag-box {
      background-color: var(--light-pink);
      padding: 5px;
      font-size: 12px;
      border-radius: 5px;
      color: black;
      transition: all 80ms duration;
}
.tag-box:hover {
      background-color: var(--hot-pink);
}