
.homepage-content-container {
      padding: 0 20px;
}
#homepage-feeds-content .section-content-container {
      margin-top: 35px;
}
.videos-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
}
.video-article {
      width: calc((100% - 80px) / 4);
}
.video-wrapper {
      background-color: var(--dark-gray);
      border-radius: 10px;
      transition: all .3s;
}
.video-wrapper:hover {
      background-color: #3a3d44;
}
.video-player {
      width: 100%;
      border-radius: 10px;
      display: block;
}
.video-infor-wrapper {
      display: flex;
      padding: 5px;
}
.video-details {
      width: 100%;
      margin-left: 10px;
      line-height: 1;
}
.video-infor .avatar-frame {
      width:50px !important; 
      height: 50px;
}
.video-infor .avatar-image {
      border-radius: 50% !important;
      width: 50px;
}
.video-details .video-film {
      font-size: 15px;
      font-weight: 600;
}
.video-details .video-film:hover {
      color: var(--light-pink);
}
.video-details .video-creator {
      font-size: 13px;
      color: rgb(172, 172, 172);
}
.video-details .video-creator:hover {
      color: white;
}
.video-details .video-views {
      font-size: 13px;
}
#homepage-feeds-content .films-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
}
.film-article {
      width: calc((100% - 80px) / 8);
}
.film-thumbnail {
      display: block;
      width: 100%;
      height: 300px;
      display: block;
      object-fit: cover;
}
#homepage-feeds-content .avatars-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 9px;
}
#homepage-feeds-content .avatar-frame {
      width: calc((100% - 90px) / 10);
}
#homepage-feeds-content .avatar-frame-wrapper {
      height: 100%;
      border-radius: 10px;
}
#homepage-feeds-content .avatar-image {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 10px;
}
#homepage-feeds-content .manga-wrapper {
      width: calc((100% - 80px) / 8);
      border-radius: 10px;
}
#homepage-feeds-content .manga-thumbnail {
      display: block;
      width:100%;
      height: 100%;
      border-radius: 10px;
}
#homepage-feeds-content .images-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 14px;
}
#homepage-feeds-content .image-wrapper {
      width: calc((100% - 52px) / 6);
      height: fit-content;
      border-radius: 10px;
}
#homepage-feeds-content .image-frame {
      display: block;
      width: 100%;
      height: 450px;
      object-fit: cover;
}
#homepage-feeds-content .shorts-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 14px;
}
#homepage-feeds-content .short-article {
      width: calc((100% - 54px) / 6);
}



