/* Lớp phủ toàn màn hình */
.custom-alert__overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2000;
      opacity: 0;
      z-index: 2000;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
.custom-alert__overlay.show {
      opacity: 1;
      visibility: visible;
}

/* Hộp thoại chính */
.custom-alert__modal {
      background-color: white;
      padding: 25px;
      border-radius: 12px;
      width: 90%;
      max-width: 400px;
      text-align: center;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
      transform: scale(0.9);
      transition: transform 0.2s ease-in-out;
}
.custom-alert__overlay.show .custom-alert__modal {
      transform: scale(1);
}

/* Icon */
.custom-alert__icon {
      font-size: 50px;
      margin-bottom: 15px;
}
.custom-alert__icon.success { color: #28a745; }
.custom-alert__icon.error { color: #dc3545; }
.custom-alert__icon.warning { color: #ffc197; }

/* Tiêu đề và nội dung */
.custom-alert__title {
      font-size: 1.5em;
      font-weight: 600;
      margin-bottom: 10px;
}
.custom-alert__text {
      font-size: 1em;
      color: #555;
      margin-bottom: 20px;
}

/* Khu vực nút bấm */
.custom-alert__actions {
      display: flex;
      justify-content: center;
      gap: 15px;
}
.custom-alert__actions button {
      padding: 5px 15px;
      font-size: 14px;
      color: black;
      background-color: var(--secondary-background-color);
      border: 1px solid var(--secondary-border-color);
      box-shadow: var(--secondary-box-shadow);
      cursor: pointer;
      user-select: none;
      border-radius: 6px;
      transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
      transition-property: color,background-color,box-shadow,border-color;
}
.custom-alert__actions button:hover {
      background-color: var(--secondary-background-hover);
      transition-duration: .1s;
}
.confirm-btn {
      background-color: #eff2f5;
}
.cancle-btn {
      background-color: #6c757d;
      columns: white;
}

